<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ3IgMl6uGsip1LZTBd7gT-fByTt0FSG4</string>
	<key>GCM_SENDER_ID</key>
	<string>1040563866458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.eryavuz.burak.FoodApplication-iOS</string>
	<key>PROJECT_ID</key>
	<string>foodapplication-28e5f</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapplication-28e5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040563866458:ios:bc6264747283dedbc1c163</string>
</dict>
</plist>